<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>People</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="people.js"></script>
</head>
<body ng-controller="PeopleController">
    <table>
    <tr ng-repeat="person in docs">
      <td>{{person.name}}</td>
      <td>{{person.born}}</td>
    </tr>
    </table>
  <!-- <table>-->
  <!--  <tr ng-repeat="person in people">-->
  <!--    <td>{{person.name}}</td>-->
  <!--    <td>{{person.born}}</td>-->
  <!--  </tr>-->
  <!--</table>-->

</body>
</html>
