<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>Hello World</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
   <!--need run-->
    <script src="controller.js"></script>
    <!--<script src="people.js"></script>-->

</head>
<body ng-controller="PeopleController">

	<!--<p>Hello world!</p>-->
	<!--//Adding a Binding and Expression .  inserted into the DOM.-->
	<p>Hello {{'world'+ '!'}}</p>
	
	<table>
	<!--Binding the Controller and View-->
 <!--  <tr ng-repeat="person in people">-->
    <!--Data Binding & Filtering-->
 <!--  <tr ng-repeat="person in people | filter:query">-->
    <!--Adding an Option Dropdown -->
    <tr ng-repeat="person in people | filter:query | orderBy:orderBy">
      	<td>{{person.name}}</td>
      	<td>{{person.born}}</td>
    </tr>
    </table>
    <!--search box-->
  <p>Search: <input ng-model="query"></p>
  
    <!--Adding an Option Dropdown-->
    <p>
	<select ng-model="orderBy">
  		<option value="name">Name</option>
  		<option value="born">Birth</option>
	</select>
	</p>



	
</body>
</html>
